In [19]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("annual-enterprise-survey-2023-financial-year-provisional-size-bands.csv")

In [23]:
df.head()

   year
0  2011
1  2011
2  2011
3  2011
4  2011

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20124 entries, 0 to 20123
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  20124 non-null  int64
 1   industry_code_ANZSIC  20124 non-null  object
 2   industry_name_ANZSIC  20124 non-null  object
 3   rme_size_grp          20124 non-null  object
 4   variable              20124 non-null  object
 5   value                 20124 non-null  object
 6   unit                  20124 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.1+ MB

In [24]:
df = df[["year","unit"]]
df.head()

   year
0  2011
1  2011
2  2011
3  2011
4  2011